<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Catalog{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item_catalog.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a class="title-link" href="{{ url_for('category_list') }}">Item Database</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <button id="category-menu" class="mdl-button mdl-js-button mdl-color-text--white">
                    {% if category %}
                        {{ category }}
                    {% elif item %}
                        {{ item.category }}
                    {% else %}
                        Category
                    {% endif %}
                </button>

                <div class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="category-menu">
                    {% for category in categories %}
                        <a class="mdl-menu__item mdl-menu"
                           href="{{ url_for('category_view', category_id = category.id) }}">{{ category }}</a>
                    {% endfor %}
                </div>

                <a class="mdl-navigation__link" href="">Login Goes Here</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">Item Database</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Login Goes Here</a>
            {% for category in categories %}
                <a class="mdl-navigation__link" href="{{ url_for('category_view', category_id = category.id) }}">{{ category }}</a>
            {% endfor %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="mdl-mini-footer mdl-color--grey-800">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Item Database</div>
        </div>
        <div class="mdl-mini-footer--right-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="{{ url_for('recent_items_atom') }}">Atom</a></li>
                <li>Author: <a href="https://github.com/wduncanfraser">W. Duncan Fraser</a></li>
                <li><a href="https://github.com/wduncanfraser/item_catalog">Github Project</a></li>
            </ul>
        </div>
    </footer>
</div>


{#  Javascript at the bottom to improve speed #}
<script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
<script>
    $(document).ready(function () {
        toastr.options = {
            "positionClass": "toast-bottom-full-width"
        }
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                toastr.success('{{ message }}');
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    toastr.warning('{{ form[field_name].label }}: {{ error }}');
                {% endfor %}
            {% endfor %}
        {% endif %}
    });
</script>
{% block extra_js %}{% endblock %}

</body>
</html>