{% extends 'layout.html' %}
{% block title %}: Logout{% endblock %}
{% block content %}
    {# Render item form for deleting item #}
    <form method="POST" action="{{ url_for('logout') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--stretch"></div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet" align="center">
                <div class="mdl-grid mdl-color--grey-100">
                    <div class="mdl-cell mdl-cell--12-col" align="left">
                        <h2>Logout</h2>
                        {% if user.picture %}
                            <img class="profile-image" src="{{ user.picture }}">
                        {% endif %}
                        <p>{{ user.name }}, are you sure you want to logout?</p>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" align="center">
                        <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Yes">
                        <a class="mdl-button mdl-js-button mdl-button--raised"
                           href="{{ url_for('category_list') }}">
                            No
                        </a>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--stretch"></div>
        </div>
    </form>

{% endblock %}
